body {
    height: 100vh;
    text-align: center;
    margin-top: 0px;
  }
  
  table {
    border-collapse: collapse;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    overflow: hidden;
  }
      
  header,footer{
    position: fixed;
    width: 100%;
    left: 0;
    text-align: center;
    background-color: 	#E8E8E8;
    height: 90px;
  }

  header{
    top: 0px;
    border-bottom: 1px solid black;
  }

  header table{
    position: fixed;
    left: 0px;
    top: 0px;
  }

  footer {
    bottom: 0px;
    height: 250px;
  }

  button{
    width: 90%;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
  }

  .left {
    border-right: 1px solid black;
  }

  .buffer{
    height: 250px;
    width: 100%;
  }

  #mytable tr{
    border-bottom: 1px solid black;
  }

  input{
    width: 90%;
    height: 50px;
    background-color: whitesmoke;
    text-align: center;
    border: none;
  }

  .info{
    float:left;
    width: 33%;
    height: 20px;
  
  }

  .text-red{
    color: red;
  }

  .dark-body{
    background-color: black;
    color: white;
  }

  .dark-row{
    border-bottom: 1px solid white;
  }

  .dark-col{
    border-right: 1px solid white;
  }

  .dark-footer{
    background-color: rgb(10, 10, 10);
    color: white;
  }

  tr{
    height: 50px;
  }

nav .drop-down {
  position: fixed;
  left: 0;
  list-style: none; 
  overflow: hidden;
  background-color: 	#E8E8E8;
  font-family: Arial;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

nav .drop-down.closed {
  height: 50px;
}

nav .drop-down li a {
  display: block;
  color: #ecf0f1;
  text-decoration: none;
  padding: 10px;
  color: black;
  border-bottom: 1px solid black;
}

nav .drop-down li:first-child a:after {
  content: "\25BC";
  float: right;
  margin-left: -30px;
  margin-right: 5px;
}

a:hover {
  background-color: yellow;
}

.dark-item{
  background-color: gray;
  color: white;
}

.hidden{
  display: none;
}

