body {
    height: 100vh;
    text-align: center;
    margin-top: 0px;
  }
  
  table {
    border-collapse: collapse;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    overflow: hidden;
    /* margin-bottom: auto; */
  }
      
  
  
  
  header,footer{
    position: fixed;
    width: 100%;
    left: 0;
    text-align: center;
    background-color: 	#E8E8E8;
    height: 90px;
  }

  header{
    top: 0px;
    border-bottom: 1px solid black;
  }

  header table{
    position: fixed;
    left: 0px;
    top: 0px;
  }

  footer {
    bottom: 0px;
    height: 120px;
  }

  button{
    width: 90%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 5cm;
    background-color: gray;
  }

  .left {
    border-right: 1px solid black;
  }

  .buffer{
    height: 100px;
    width: 100%;
  }

  #mytable tr{
    border-bottom: 1px solid black;
  }

  input{
    width: 90%;
    height: 80%;
    background-color: whitesmoke;
    text-align: center;
    border: none;
  }

  .info{
    float:left;
    width: 33%;
    height: 20px;
  
  }

  .text-red{
    color: red;
  }

  .dark-body{
    background-color: black;
    color: white;
  }

  .dark-row{
    border-bottom: 1px solid white;
  }

  .dark-col{
    border-right: 1px solid white;
  }

  .dark-footer{
    background-color: rgb(10, 10, 10);
  }

  /* tr{
    height: 30px;
  } */
