footer, .drop-down{
    background-color: rgb(254, 254, 254);
    color: black;
}

.drop-down{
    border-bottom: 1px solid black;
}

a{
    border-top: 1px solid black;
}

a:hover{
    background-color: rgb(220, 220, 220);
}

input:hover{
    background-color: rgb(220, 220, 220);
}

button:hover{
    background-color: rgb(220, 220, 220);
}